<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.narze.habitrpg-alfred</string>
	<key>connections</key>
	<dict>
		<key>0A50D567-5505-48EC-BCD2-0419F0832D3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>608046B6-4939-4171-8A9B-4F1BF7D5799D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>178767A1-7188-43D4-936C-18A99AD9E4EC</key>
		<array/>
		<key>399161A7-2DE1-4111-A563-57DE56FE0A08</key>
		<array/>
		<key>3DE23360-F2CF-4B13-BD5F-0165FA8EEF2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>088231BC-B685-48F7-B3D9-768A2CC237CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4B9A9156-B153-4BC9-B6DE-AC83137268B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>608046B6-4939-4171-8A9B-4F1BF7D5799D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>608046B6-4939-4171-8A9B-4F1BF7D5799D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D05639-3F0F-4760-8214-317167E4173D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6569364C-B025-4E32-9588-E3076E744975</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>399161A7-2DE1-4111-A563-57DE56FE0A08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>92D79D44-EE0C-448F-ACC1-D93F5D89780E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1B53206-10D4-4E47-B0BB-5CD5F8FFD21D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9A76EAD9-DE3B-4C7D-BFED-E394963124C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>608046B6-4939-4171-8A9B-4F1BF7D5799D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>narze</string>
	<key>description</key>
	<string>HabitRPG Worlflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HabitRPG</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./habitrpg-api.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>608046B6-4939-4171-8A9B-4F1BF7D5799D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hb status</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./hb.rb status</string>
				<key>title</key>
				<string>HabitRPG Status</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9A76EAD9-DE3B-4C7D-BFED-E394963124C5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [ -f ./user.txt ];
then
   open ./user.txt
else
   cat &gt; ./user.txt &lt;&lt; EOF
xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# find your user id &amp; api token at https://habitrpg.com/#/options/settings/api
# replace first line with your user id
# replace second line with your api token
EOF
open ./user.txt
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>399161A7-2DE1-4111-A563-57DE56FE0A08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hb setup</string>
				<key>text</key>
				<string>Setup HabitRPG User</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6569364C-B025-4E32-9588-E3076E744975</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Ruby Script</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>42D05639-3F0F-4760-8214-317167E4173D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hb tasks</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./hb.rb tasks</string>
				<key>title</key>
				<string>HabitRPG Tasks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>178767A1-7188-43D4-936C-18A99AD9E4EC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hb create</string>
				<key>script</key>
				<string>/usr/bin/ruby ./hb.rb create {query}</string>
				<key>title</key>
				<string>Create task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>669A246D-BBE6-492F-9B85-2EB829850B5D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hb remove</string>
				<key>script</key>
				<string>/usr/bin/ruby ./hb.rb remove {query}</string>
				<key>title</key>
				<string>Remove task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3130E9B5-134B-46D2-8E26-21D8423FD1A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hb up</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./hb.rb up {query}</string>
				<key>title</key>
				<string>Up task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4B9A9156-B153-4BC9-B6DE-AC83137268B5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hb down</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./hb.rb down {query}</string>
				<key>title</key>
				<string>Down task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A50D567-5505-48EC-BCD2-0419F0832D3D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://habitrpg.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>088231BC-B685-48F7-B3D9-768A2CC237CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hb open</string>
				<key>text</key>
				<string>Open HabitRPG.com</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3DE23360-F2CF-4B13-BD5F-0165FA8EEF2A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hb help</string>
				<key>text</key>
				<string>See help</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>92D79D44-EE0C-448F-ACC1-D93F5D89780E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/narze/habitrpg-alfred</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E1B53206-10D4-4E47-B0BB-5CD5F8FFD21D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>088231BC-B685-48F7-B3D9-768A2CC237CC</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>0A50D567-5505-48EC-BCD2-0419F0832D3D</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>178767A1-7188-43D4-936C-18A99AD9E4EC</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>3130E9B5-134B-46D2-8E26-21D8423FD1A9</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>399161A7-2DE1-4111-A563-57DE56FE0A08</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>3DE23360-F2CF-4B13-BD5F-0165FA8EEF2A</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>42D05639-3F0F-4760-8214-317167E4173D</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>4B9A9156-B153-4BC9-B6DE-AC83137268B5</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>608046B6-4939-4171-8A9B-4F1BF7D5799D</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>6569364C-B025-4E32-9588-E3076E744975</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>669A246D-BBE6-492F-9B85-2EB829850B5D</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>92D79D44-EE0C-448F-ACC1-D93F5D89780E</key>
		<dict>
			<key>ypos</key>
			<real>1450</real>
		</dict>
		<key>9A76EAD9-DE3B-4C7D-BFED-E394963124C5</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>E1B53206-10D4-4E47-B0BB-5CD5F8FFD21D</key>
		<dict>
			<key>ypos</key>
			<real>1450</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/zhaocai/alfred2-ruby-template</string>
</dict>
</plist>
